.formBox {
    padding: 2rem;
    background: var(--color-white);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    
    @media (min-width: 1200px) {
        width: 385px;
    }
    h2 {
        margin-bottom: 1.6875rem;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}