.todoList {
    width: 100%;
    max-width: 800px;
    
    h2 {
        margin-bottom: 26px;
    }
    
    ul {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2.375rem;
        gap: 1.875rem;
        
        @media (min-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    & > p {
        margin-top: 1rem;
        text-align: center;
        font-weight: bold;
    }
}